<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>

<body>
    <% if (usuarioLogueado) { %>
        <%- include('./partials/headerLogueado') %>
    <% } else { %>
        <%- include('./partials/headerDeslogueado') %>
    <% } %>


    <main>
        <section class="center main-content">
            <h1>Nuevo Post</h1>
            <form action="/posteos/agregarPost" method="post">
                <label for="image">Imágen</label>
                <input type="image" required>
                <label for="text">Ingrese un pie de foto:</label>
                <input type="text" name="pie" required>
                <button type="submit">enviar</button>
            </form>
        </section>
    </main>

    <%- include('./partials/footer') %>

</body>

</html>